* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--background);

  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100%;
}

main > div {
  width: 100%;
  max-width: 400px;

  padding: 40px 40px 52px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;

  width: 100%;
}

form h1 {
  color: var(--dark);
  text-align: center;
}

form input {
  margin-top: 25px;
  padding: 12px 18px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid var(--border);
}

form input:last-of-type {
  margin-top: 20px;
  margin-bottom: 8px;
}

form input:active,
form input:focus {
  outline: none;
  border: 1px solid var(--primary);
}

form span:hover {
  text-decoration: underline;
}

form button {
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 12px 20px;

  border: none;
  border-radius: 4px;

  font-size: 18px;
  font-weight: 700;

  background-color: var(--primary);
  color: var(--background);
  cursor: pointer;
}

form button:hover {
  background-color: var(--primary-darken);
}

form p {
  color: var(--dark);

  text-align: center;
  font-weight: 500;
}

footer {
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 1280px;

  margin-top: auto;

  padding: 0 10px 30px;
}

footer ul {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

footer ul h4 {
  margin-bottom: 20px;

  font-size: 18px;
  font-weight: 500;

  color: var(--dark);
}

footer ul li a {
  color: var(--primary-lighten);
  font-weight: 300;

  line-height: 2;
}

a {
  color: var(--secondary);
  text-decoration: none;

  cursor: pointer;
  font-weight: 500;

  outline: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

li {
  list-style: none;
}

@media screen and (max-width: 540px) {
  main {
    height: 100vh;
    align-items: center;
  }

  footer {
    flex-direction: column;
    align-items: center;

    padding-bottom: 12px;
  }

  footer ul {
    align-items: center;
    margin-bottom: 16px;
  }

  footer ul h4 {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 376px) {
  main > div {
    margin: 0 10px;
    padding: 40px 15px 52px;
  }
}

:root {
  --background: #fafafa;
  --dark: #333334;
  --border: #ccc;

  --primary: hsl(207, 73%, 57%);
  --primary-lighten: #4199e1;
  --primary-darken: hsl(207, 73%, 44%);

  --secondary: #09b437;
}
