* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--background);

  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 400px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);

  border-radius: 8px;

  padding: 40px 40px 52px;
}

form h1 {
  color: var(--dark);
  text-align: center;
}

form input {
  margin-top: 25px;
  padding: 12px 18px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid var(--border);
}

form input:last-of-type {
  margin-top: 20px;
  margin-bottom: 8px;
}

form input:active,
form input:focus {
  outline: none;
  border: 1px solid var(--primary);
}

form span:hover {
  text-decoration: underline;
}

form button {
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 12px 20px;

  border: none;
  border-radius: 4px;

  font-size: 18px;
  font-weight: 700;

  background-color: var(--primary);
  color: var(--background);
  cursor: pointer;
}

form button:hover {
  background-color: var(--primary-darken);
}

form p {
  color: var(--dark);

  text-align: center;
  font-weight: 500;
}

a {
  color: var(--secondary);
  text-decoration: none;

  cursor: pointer;
  font-weight: 500;

  outline: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

@media (max-width: 376px) {
  form {
    padding: 40px 20px 52px;

    box-shadow: none;
  }
}

:root {
  --background: #fafafa;
  --dark: #333334;
  --border: #ccc;

  --primary: hsl(207, 73%, 57%);
  --primary-darken: hsl(207, 73%, 44%);

  --secondary: #09b437;
}
